<footer id="dtr-footer" class="dtr-section-with-bg" style="background-image: url(assets/images/footer-bg.png)">
  <div class="container">
    <div class="row">
      <!-- column 1 starts -->
      <div class="col-12 col-sm-6 col-lg-4 dtr-mb-30">
        <a href="index.html" class="d-block dtr-mb-15"><img style="width: 100px" src="assets/images/logo-dark.png"
            alt="logo" /></a>
        <p>
          Restoranınızı dijital dünyaya taşımak için geliştirdiğimiz Posfixmenu,
          kolay kullanımı ve güçlü özellikleri ile işletmenizi bir adım öne
          çıkarır. Her şey tek bir platformda, hızlı ve güvenli bir şekilde!
        </p>
        <p>© 2024 Posfixmenu. Tüm hakları saklıdır.</p>
      </div>
      <!-- column 1 ends -->

      <!-- column 2 starts -->
      <div class="col-12 col-sm-6 col-lg-2 text-center dtr-mb-30">
        <h4 class="color-green">Şirket</h4>
        <ul class="dtr-list-simple">
          <li><a href="#features" class="dtr-styled-link">Özellikler</a></li>
          <li><a href="#plans" class="dtr-styled-link">Planlar</a></li>
          <!-- <li><a href="#" class="dtr-styled-link">Blog</a></li> -->
          <li><a href="#contact" class="dtr-styled-link">İletişim</a></li>
        </ul>
      </div>
      <!-- column 2 ends -->

      <!-- column 3 starts -->
      <div class="col-12 col-sm-6 col-lg-2 text-center dtr-mb-30">
        <h4 class="color-green">Destek</h4>
        <ul class="dtr-list-simple">
          <li><a href="#" class="dtr-styled-link">Yardım</a></li>
          <li><a href="#" class="dtr-styled-link" (click)="openPrivacyModal($event)">Gizlilik Politikası</a></li>
          <li><a href="#" class="dtr-styled-link" (click)="openTermsModal($event)">Hizmet Şartları</a></li>
        </ul>
      </div>
      <!-- column 3 ends -->
      <app-privacy-policy-modal *ngIf="showPrivacyModal"
        (closeModal)="showPrivacyModal = false"></app-privacy-policy-modal>
      <app-terms-modal *ngIf="showTermsModal" (closeModal)="showTermsModal = false"></app-terms-modal>

      <!-- column 4 starts -->
      <div class="col-12 col-sm-6 col-lg-4 text-center dtr-mb-30">
        <h4 class="color-green">İletişim</h4>
        <ul class="dtr-list-simple">
          <li><a class="dtr-styled-link">info&#64;posfixmenu.com</a></li>
          <li><a class="dtr-styled-link">+90 850 840 43 68</a></li>
        </ul>
      </div>
      <!-- <div class="col-12 col-sm-6 col-lg-4 dtr-mb-30">
        <h4 class="color-green">Abone Ol</h4>
        <div class="dtr-form dtr-form-has-icon dtr-form-no-gap">
          <form id="subscribeform" method="post" action="#">
            <fieldset>
              <div class="dtr-form-row-2col">
                <p class="dtr-input dtr-form-column"> <i class="icon-envelope1 color-dark-blue"></i>
                  <input name="email" class="required email" type="text" placeholder="E-posta adresiniz">
                </p>
                <p class="dtr-form-column">
                  <button class="dtr-btn btn-green" type="submit">Abone Ol</button>
                </p>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="dtr-social-large">
          <ul class="dtr-social dtr-social-list color-white-muted-alt accent-color-hover text-center">
            <li><a href="#" class="dtr-twitter" target="_blank" title="twitter"></a></li>
            <li><a href="#" class="dtr-facebook" target="_blank" title="facebook"></a></li>
          </ul>
        </div>
      </div> -->
      <!-- column 4 ends -->
    </div>
  </div>
</footer>