<div class="modal-overlay-1" (click)="close()">
    <div class="modal-content-1" (click)="$event.stopPropagation()">
        <button class="close-btn" (click)="close()">&times;</button>
        <h2>Hizmet Şartları</h2>
        <div class="policy-text">
            <!-- Buraya Gizlilik Politikası metninizi ekleyin -->
            <p>Madde 1. Taraflar İşbu Kullanıcı Sözleşmesi ("Sözleşme"), Posfixmenu ("Şirket")
                ile www.posfixmenu.com adresindeki siteye ("Site") kullanıcı ("Kullanıcı") olarak kaydolan kişi arasında
                akdedilir. Sözleşme, Kullanıcı'nın elektronik onayı ile yürürlüğe girer.
                Madde 2. Sözleşme'nin Konusu Sözleşme;
                • Posfixmenu'nun bulut tabanlı restoran yönetim ve POS uygulamasından ("Uygulama") faydalanılmasına,
                • Kullanıcı tarafından yüklenen verilerin ("İçerik") kullanım koşullarına ilişkin hak ve yükümlülükleri
                düzenler.
                Madde 3. Kullanıcı Yükümlülükleri 3.1 Kullanıcı, 18 yaşını doldurduğunu ve verdiği bilgilerin
                doğruluğunu taahhüt eder. 3.2 Şifre güvenliği Kullanıcı'nın sorumluluğundadır. Yetkisiz erişimde derhal
                Şirket'i bilgilendirir. 3.3 Uygulama yalnızca yasal faaliyetler için kullanılacaktır. Üçüncü kişilerin
                telif hakları ihlal edilemez. 3.4 Kullanıcı, İçerik'in yedeklerini kendisi alacaktır. Veri kaybından
                Şirket sorumlu değildir.
                Madde 4. Ödeme Koşulları 4.1 Ücretler Site'de ilan edilen paketlere göre belirlenir. 4.2 Ödemeler kredi
                kartı/banka havalesi ile yapılır. Abonelik otomatik yenilenir (14 gün önceden iptal hakkı saklı). 4.3
                Faturalar elektronik ortamda iletilir.
                Madde 5. Fikri Mülkiyet 5.1 Uygulama'ya ait tüm haklar Şirket'e aittir. Ters mühendislik yasaktır. 5.2
                Kullanıcı, yüklediği İçerik'in hukuka uygunluğundan sorumludur.
                Madde 6. Sorumluluk Sınırlaması 6.1 Uygulama "OLDUĞU GİBİ" sunulur. Kesintisiz erişim garanti
                edilmez. 6.2 Şirket, dolaylı zararlardan (kâr kaybı, veri kaybı vb.) sorumlu değildir.
                Madde 7. Sözleşme'nin Sona Ermesi 7.1 Taraflar, 7 gün önceden bildirimle Sözleşme'yi feshedebilir. 7.2
                Yasal ihlal durumunda Şirket tek taraflı fesih hakkına sahiptir.
                Madde 8. Uygulanacak Hukuk Uyuşmazlıklarda İstanbul Mahkemeleri yetkilidir.</p>
            <!-- Madde madde içerik -->
        </div>
    </div>
</div>